<template>
  <div v-for="item in todos" v-bind:key="item.id" style="margin-bottom: 8px">
    {{ item.title }} <button @click="removeTodo(item)">x</button>
  </div>

  <div style="border: 1px solid #ddd; padding: 8px">
    <input type="text" v-model="newTodo" />
    <button @click="addTodo()">ADD TODO</button>
  </div>
</template>

<script>
import { ref } from "vue";

import useTodos from "../hooks/useTodos";

export default {
  setup() {
    // const { todos, newTodo, addTodo, removeTodo } = useTodos();

    return {
      ...useTodos(),
    };
  },
};
</script>

<style></style>
