<template>
  <TodoMain />
</template>

<script>
import { ref, computed } from "vue";

import TodoMain from "./components/TodoMain.vue";

export default {
  components: { TodoMain },
  setup() {},
};
</script>

<style scoped>
img {
  width: 200px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
